.tab-bar {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.tab-button {
    height: 5rem;
    width: 5rem;
    display: grid;
    grid-template-rows: 2rem auto;
    place-content: center;
    cursor: pointer;
}

.tab-button.show {
    background: #fff;

    img {
        // to $blue
        filter: invert(51%) sepia(92%) saturate(1466%) hue-rotate(180deg) brightness(87%) contrast(80%);
    }
}

// .tab-button.hidden {
//     background: #beb;
// }

.tab-button:hover {
    background: $light-grey
}

.tab {
    // height: 80vh;
    // width: 80vw;
    background: $light-grey;
    height: 80vh;
    z-index: 1;
}

.tab.hidden {
    display: none;
}

img.tab-icon {
    height: 2rem;
    width: 2rem;
    margin: auto;
}

.tab-title {
    color: #000;
}
.tab-container {
    padding: 10px 0px 10px  0px;
    position: relative;
    overflow: hidden;
}
.inner-tab-container {
    padding: 20px;
    height: 70vh;
    overflow: auto;

}

.tab.slideout {
    animation-duration: 1s;
    animation-name: slideout;
    position: absolute;
    width: 100%;
    z-index: 3;
}

@keyframes slideout {
    from {
        margin-top: 0;
        opacity: 1;
    }

    to {
        margin-top: 130vh;
        opacity: 0
    }
}