.resume-entry {

    .dates {
        border: 1px solid $blue;
        border-radius: 3px;
        width: fit-content;
        padding: 1px;
        font-size: smaller;
    }
    h3, h5, h6 {
        line-height: 0px;
    }
}

.resume-title {
    display: grid;
    grid-template-columns: auto 1fr;
    img {
        height: 3rem;
        padding-right: 5px;
    }
}
.techIconContainer {
    padding: 0px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    place-content: center;
}

img.techIcon {
    height: 70px;
    // max-width: 50px;
    margin: 5px 20px;
    background: $light-grey;
    justify-self: center;
}