.contactEntry {
    display: grid;
    grid-template-columns: auto 1fr;
    align-content: center;
    img.icon {
        max-height: 25px;
        max-width: 25px;
        padding: 15px;
    }
    a {
        text-decoration: none;
        align-content: center;
    }
}