.info-container {
    background: #fff;
    width: 25vw;

    display: grid;
    grid-template-rows: auto auto;
    place-content: center;

    box-shadow: -20px -16px 10px rgba(58, 141, 203, 0.3);

    h2 {
        margin: auto
    }
    .profile-pic-container {
        margin: auto;
    }
    .profile-pic {
        margin: 10px;
        max-height: 160px;
        max-width: 220px;
        // min-width: 80px;
        // min-height: 80px;
        border-radius: 80px;
        border: 2px solid $green;
    }
    .linkContainer {
        display: grid;
        grid-template-rows: auto auto;
        place-content: center;
        img.icon {
            height: 25px;
            width: 25px;
            justify-self: center;
        }
        a {
            text-decoration: none;
        }
    }
}